@layout MainLayout
@inherits LayoutComponentBase

<h1>Employees</h1>

<div style="width:25%; float:left">
    <nav>
        <NavLink href="https://www.nydn.com">test</NavLink>
    </nav>
</div>

@Body
